
body {
  background-color: #CCA;
}
table {
	width: 80%;
}

td {
	text-align: center;
}
td.radio {
	border: 1px solid black;
}
td textarea {
	width: 100%;
}
#help {
	font-size: small;
	float: right;
}
label {
	font-size: small;
}
.message {
	float: left;
}


