<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>COMP249 Assignment 1</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
</head>
<body>


     <div class="container">



% if defined('message'):
    <p>{{message}}</p>
% end

% if defined('loginform'):
    <form id='loginform' class="navbar-form navbar-right" role="login" method='post' action='/login'>

        <table style="width:30%">
            <tr>
              <td><input type="text" name='email' size="40" class="form-control" placeholder="Student Email"></td>
              <td><input type="password" name='sid' class="form-control" placeholder="Github ID"></td>
                <td><input type="submit" class="btn btn-default" value='Login' ></td>
            </tr>
        </table>
    </form>
% end

      <h1>COMP2110/6110 Web Technology</h1>
      <h3>Assignment 1 Peer Marking</h3>

      <p>The peer marking page allows you to rate the work of the other students
      in COMP2110/6110 for Assignment 1. The final ratings given will be used as 
      part of the final score for the assignment.</p>
 
      <p>To login please use your student email address (xxx@students.mq.edu.au)
        and your Github ID as a password.  Of course, if you know someone else's
        email and Github ID you could
      vote on their behalf, but that wouldn't be nice. If you think someone has
      impersonated you, please let me know.  I keep full logs of access
      to this site so can try to track down misuse. </p>
      
      <p>Once you login, you will see a page in two parts. At the top is a marking
        form, at the bottom is one of the submissions from another student.
          The submission is embedded in an iframe so it is possible that it will
          look odd.  If something does not look right you should try refreshing
          the page or clicking the link to view the submission in a separate
          window.
      </p>

          <p>
        You are asked to review the submission and provide a mark on three criteria.
        When you submit your marks, another submission will be chosen for you to mark.
        You will only be allowed to mark 20 submissions at most.</p>

      <p>You are asked to rate the stylesheet on three criteria:</p>
      
      <ul>

        <li><strong>Overall design</strong> - the design looks good and presents the images
            in a clear and useable way,
        text is readable, navigation links are obvious.</li>

        <li><strong>Originality and Creativity</strong> - the design shows some creativity,
          not just a cut and paste from other websites or page templates.</li>

        <li><strong>Use of HTML/CSS</strong> - the submission made good use of HTML and CSS
          technology to achieve the design rather than just presenting a minimal solution
          (Wow, how did they do that == Good).</li>

      </ul>

      <p>You are also asked to provide some feedback to the student. Use 
      this to make a comment if you want to say more than the scales
      allow.  Try to imagine what you'd like to hear about your own 
      work.  Please don't insult anyone; I reserve the right to filter
      the comments if needed.</p>
      
      <p>Please give some time to considering your rating.</p>
      
      <p><strong>Cheating</strong> If it is obvious that this process
      has been abused then I won't use the results in marking the
      assignment.
      Please respect this process and rate the work of your peers fairly.</p>

        <p>The final marks for each student will be based on the marks you provide. We will
        remove obvious outlier marks and we will moderate the final results to make sure
        they are appropriate.</p>

      <p>Please send comments or problems to <a
      href="mailto:Steve.Cassidy@mq.edu.au">Steve Cassidy</a></p>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</body>
</html>