<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Mark Report</title>
</head>
<body>

    <h1>Marking Report</h1>

    <table>
        <tbody>
        <tr><th>Number of Submissions</th><td>{{stats['students']}}</td></tr>
        <tr><th>Number Marked</th><td>{{stats['marked']}}</td></tr>
        <tr><th>Number of Students who have marked</th><td>{{stats['voters']}}</td></tr>
        </tbody>
    </table>

    <h2>Marks</h2>

    <table>
        <thead>
        <tr>
            <th>Student</th>
            <th>Count</th>
            <th>Design</th>
            <th>Creative</th>
            <th>Technology</th>
            <th>Total</th>
        </tr>
        </thead>
% for row in marks:
    <tr>
        <th><a href="/admin/view/{{row[0]}}/index.html">{{row[0]}}</a></th>
        <td>{{round(row[1],1)}}</td>
        <td>{{round(row[2],1)}}</td>
        <td>{{round(row[3],1)}}</td>
        <td>{{round(row[4],1)}}</td>
        <td>{{round((row[2]+row[3]+row[4])/3, 1)}}</td>
    </tr>
% end
    </table>


    <h2>Students with 1-1-1 marks</h2>

    <table>
        <tr><th>Student</th></tr>
% for row in stats['singletons']:
        <tr><td><a href="/admin/view/{{row[0]}}/index.html">{{row[0]}}</a></td></tr>
% end
    </table>



</body>
</html>