<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>COMP2110/6110 All Submissions</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
</head>
<body>


     <div class="container">


    <h1>Marking Report</h1>

    <table class="table">
        <tbody>
        <tr><th>Number of Submissions</th><td>{{stats['students']}}</td></tr>
        <tr><th>Number Marked</th><td>{{stats['marked']}}</td></tr>
        <tr><th>Number of Students who have marked</th><td>{{stats['voters']}}</td></tr>
        </tbody>
    </table>

    <h2>Marks</h2>

    <table class="table">
        <thead>
        <tr>
            <th>Student</th>
            <th>Count</th>
            <th>Mean</th>
            <th>StdDev</th>
            <th>Discard</th>
            <th>Feedback</th>
            <th>User-Agent</th>
        </tr>
        </thead>
% for key in marks:
    <tr>
        <th><a href="/admin/view/{{key}}">{{key}}</a></th>
        <td>{{len(marks[key]['scores']) }}</td>
        <td>{{round(marks[key]['mean'],1)}}</td>
        <td>{{round(marks[key]['stdev'],1)}}</td>
        <td>{{round(marks[key]['discard_lowest'],1)}}</td>
        <td>
            <ul>
            % for fb in marks[key]['feedback']:
                % if fb != '':
                  <li>{{fb}}</li>
                % end
            % end
            </ul>
        </td>
        <td>
            <ul>
            % for b in marks[key]['browser']:
                % if b != '':
                  <li>{{b[:20]}}</li>
                % end
            % end
            </ul>
        </td>
    </tr>
% end
    </table>


    <h2>Students with 1-1-1 marks</h2>

    <table class="table">
        <tr><th>Student</th><th>Count</th></th></tr>
% for row in stats['singletons']:
        <tr><td><a href="/admin/view/{{row[0]}}">{{row[0]}}</a></td><td>{{row[1]}}</td></tr>
% end
    </table>

     <footer class="footer">
         <hr>
        <p class="pull-right">&copy; 2017 COMP249 Students</p>
      </footer>

     </div>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</body>
</html>