<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Voting Frame</title>
    <link rel='stylesheet' type='text/css' href='/static/peer.css'>
    <script language="javascript" src="/static/peermark.js"></script>

</head>
<body onload="reloadMainFrame()">

<p id="help"><a target='_blank' href='/help.html'>Help</a>
<a id="ownlink" href="javascript:viewSelf()">View Your Submission</a>
</p>

<div>
<form id='voteform' name="vote" method="POST">

    <fieldset>
        <legend>Design</legend>
        <ul class="likert">
            <li> Poor <input type="radio" name="design" value="1" />
            <li><input type="radio" name="design" value="2" />
            <li><input type="radio" name="design" value="3" />
            <li><input type="radio" name="design" value="4" />
            <li><input type="radio" name="design" value="5" /> Good
        </ul>
    </fieldset>


    <fieldset>
        <legend>HTML/CSS</legend>
        <ul class="likert">
            <li> Poor <input type="radio" name="tech" value="1" />
            <li><input type="radio" name="tech" value="2" />
            <li><input type="radio" name="tech" value="3" />
            <li><input type="radio" name="tech" value="4" />
            <li><input type="radio" name="tech" value="5" /> Good
        </ul>
    </fieldset>


    <fieldset>
        <legend>Creativity</legend>
        <ul class="likert">
            <li> Poor <input type="radio" name="creative" value="1" />
            <li><input type="radio" name="creative" value="2" />
            <li><input type="radio" name="creative" value="3" />
            <li><input type="radio" name="creative" value="4" />
            <li><input type="radio" name="creative" value="5" /> Good
        </ul>
    </fieldset>




  <fieldset>
      <legend>Feedback</legend>
      <textarea name='comment' placeholder="Comments for the student..."></textarea>
  </fieldset>

  <input type="submit" value="Vote"/>
</form>
</div>
<p id="footnote">If the page looks odd, refresh your browser.</p>
</body>
</html>
