
body {
    font-family: Arial, sans-serif;
    font-size: 11pt;
    margin: 10px;
    padding: 10px;
    min-width: 1350px;
    height: 1000px;
}

#voteframe {

    height: 100px;
    background-color: #CCC;

}

@media (max-width: 1300px) {

   #voteframe {
    height: 150px;
   }

}


@media (max-width: 900px) {

   #voteframe {
    height: 200px;
   }

}

@media (max-width: 630px) {

   #voteframe {
    height: 300px;
   }

}

#sample {
    margin: auto;
    width: 100%;
    height: 90%;
}

#help {
	font-size: small;
	float: right;
}
label {
	font-size: small;
}
.message {
	float: left;
}

#voteform {
    display: flex;
    flex-direction: row;
}

fieldset
{ 
   padding: 0;
   height: 3em;
}
ul.likert
{
    list-style-type: none;
    margin: 0;
    padding-right: 1em;
}
.likert li
{
    float: left;
    text-align: left;
    list-style-type: none;
}
fieldset textarea
{
    width: 30em;
}

#footnote {
    clear:both;
    text-align: center;
    padding-top:1em;
}